<h2 id="title">Welcome to select Date time</h2>

<h3>Collapsible</h3>
{{select-datetimes
  dates=dates
  handlerController=this
  selectIntervalCallback="selectInterval"
  className="container"
  nameElement="select_datetimes"
  collapsible=true
}}
{{#if range}}
  The interval selected is: {{range.start}} - {{range.end}}
{{/if}}


<h3>Not Collapsible</h3>
{{select-datetimes
  dates=dates
  handlerController=this
  selectIntervalCallback="selectInterval2"
  className="container"
  nameElement="select_datetimes"
  isSearchabled=false
}}
{{#if range2}}
  The interval selected is: {{range2.start}} - {{range2.end}}
{{/if}}

{{outlet}}
